@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?az1skw');
    src: url('/fonts/icomoon.eot?az1skw#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?az1skw') format('truetype'),
    url('/fonts/icomoon.woff?az1skw') format('woff'),
    url('/fonts/icomoon.svg?az1skw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', serif;
}

body {
    background: #fff;
    font-family: 'Lato', serif;
}
section {
    padding-top: 2rem;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 1170px;
}

.fas:before {
    margin: 3px;
}

/*

our news css here

*/

.container-our-news {
    width: 100%;
    margin: 0 auto;
    position: relative;
    clear: both;
}

#our-news div > h1, #best div > h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin: 65px 0 30px 0;
    font-size: 1.25em;
    letter-spacing: 4.5px
}

#best > div, #our-news > div > div {
    height: max-content;
    padding: 0 0 0 60px;
}

#best > div > div > div > div > a {
    margin: 0;
}

.recommend a, .bestseller a {
    text-decoration: none;
    margin: 20px 0;
    font-weight: 600;
}

.recommend .product-name, .bestseller .product-name {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    font-size: 0.8em;
    margin-top: 10px;
}

.recommend .product-price, .bestseller .product-price {
    text-decoration: none;
    color: #2078c6;
    margin-right: 20px;
    font-size: 1em;
    margin-top: 10px;
}

.recommend .product-price del, .bestseller .product-price del {
    color: #333;
    font-size: 12px;
    font-weight: lighter;
}

#premium {
    background-image: url("../img/strefa_premium.png");
    opacity: 0.95;
    min-height: 448px;
    width: 100%;
    text-align: center;
    display: inline-flex;
}

#premium .container-our-news {
    /* position: absolute;     */
    display: block;
    margin: auto 0;
}

#premium .container-our-news h1 {
    text-transform: uppercase;
    color: #f8da94;
    font-weight: bolder;
    font-size: 3em;
    /* padding-top: 120px; */
}

#premium .container-our-news p {
    color: #989898;
    margin: 10px;
}

#premium .container-our-news button {
    color: black;
    font-weight: 900;
    background: #f8da94;
    padding: 20px;
    cursor: pointer;
    display: inline-block;
    border: none;
    width: 240px;
    margin: 30px;
    text-transform: uppercase;
}

#info .container-our-news {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: baseline;
    margin: 30px 0;
}

.info-logo {
    display: block;
}

.info-text {
    display: block;
    height: inherit;
}

#first-slider-container {
    height: max-content;
}

#first-slider-container .slick-dots button {
    visibility: hidden;
}

#first-slider-container .slick-dots li {
    background-color: #C2D3DD;
    font-size: 16px;
    opacity: 0.7;
    width: 100px;
    height: .25rem;
    flex: 0 30%;
}

#info .container-our-news div .info-logo img {
    max-height: 80px;
}

.container-our-news > .info-text {
    width: 100%;
    /*margin: 35px 10px;*/
    padding: 10px;
}

.container-our-news > .info-text > p {
    margin: 10px;
    font-size: 14px;
    line-height: 1.4em;
    color: #333;
}

@media only screen and (max-width: 757px) {
    .container {
        width: 100%;
        margin: 0 auto;
        position: relative;
        clear: both;
    }

    .recommend, .bestseller {
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recommend a, .bestseller a {
        margin: 0 65px;
    }

    #premium .container div {
        padding-top: 70px;
    }

    #info .container div .info-logo {
        display: none;
    }
}

/*our news css end





*/
img {
    max-width: 100%;
}

#header > .top_info {
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
}

#header > .top_info > div {
    display: flex;
    justify-content: flex-start;
    margin: 10px 20px;
}

#header > .top_info > div span {
    display: block;
    font-size: 13px;
    padding: 0 22px;
    text-transform: uppercase;
}

#header > .top_info > div span a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#header > .top_info > div span:nth-child(odd) {
    border-right: 1px gray solid;
}

#header > .logo_section {
    margin: 0 auto;
    width: 1170px;
    display: flex;
}

#header > .logo_section > div.col-3 {
    flex: 1;
}

#logo {
    display: flex;
    justify-content: center;
}

/*#header > .logo_section .col-3 {*/
/**/
/*}*/

/*#header > .logo_section .col-3:nth-child(4) {*/
/*display: flex;*/
/*justify-content: flex-end;*/
/*align-items: center;*/
/*}*/

#header > .logo_section > .col-3:last-child {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#header > .logo_section > .col-3:last-child > span {
    flex-direction: column;
    justify-content: center;
}

.basket {
    padding: 7px;
    border: 3px solid #D4D7AA;
}

div.col-3 > span {
    display: inline-block;
    padding: 10px;
}

.basket a i {
    display: inline-block;
}

/*#header > .logo_section > .col-3:last-child a:last-child span:first-child:before {*/
/*content: 'f078';*/
/*font-family: FontAwesome;*/
/*margin-right: 5px;*/
/*font-size: 20px;*/
/*}*/

#header nav {
    width: 1170px;
    background-color: #FFEAB8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

#header nav div {
    /*height: 100%;*/
}

#header nav > .nav-grid > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header nav > .nav-grid > ul > li {
    list-style: none;
    margin: 10px;
    display: inline-block;
}

#header nav > .nav-grid > ul > li a {
    padding: 5px;
}

#header nav > .nav-grid > ul > li:hover > ul {
    display: block;
}

#header nav > .nav-grid > ul > li > ul {
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 0 30px 30px 30px;
    z-index: 99;
}

#header nav > .nav-grid > ul > li > ul a {
    color: #262626;
    font-size: 0.92em;
}

#header nav > .nav-grid > ul > li > ul > li {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    text-transform: uppercase;
}

#header nav > .nav-grid > ul > li > ul > li ul {
    display: block;
    vertical-align: top;
    position: static;
    box-shadow: none;
    margin-top: 20px;
}

#header nav > .nav-grid > ul > li > ul > li ul li {
    padding-right: 30px;
    list-style: none;
}

#header nav > .nav-grid > ul > li > ul > li ul li a {
    display: block;
    width: 100%;
    text-transform: none;
    padding: 7px 15px;
    border-left: 1px dotted #ddd;
}

#header nav > .nav-grid > ul > li > ul > li ul li:hover {
    background: #FFEAB8;
    border-radius: 0 5px 5px 0;
}

/*#header nav > .col-6 > ul > li:after {*/
/*content: 'f107';*/
/*font-family: FontAwesome;*/
/*margin-left: 5px;*/
/*}*/

#header nav > .nav-grid > ul > li span {

}

#header nav > .nav-grid > ul > li a span {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

#header nav > .nav-grid > ul ul {
    display: none;
}

#header nav > .nav-grid > ul li > ul {
    position: absolute;
    left: 0;
    top: 100%;
}

#header nav > .nav-grid {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header nav > .nav-grid > form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

#header nav > .nav-grid > form > input {
    width: 80%;
    height: 30px;
    background: none;
    border: none;
    border-bottom: 1px dotted black;
}

#header nav > .nav-grid > form > button {
    padding: 0 20px;
    background: none;
    border: none;
}

.desktop_hidden {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

.desktop_hidden * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', serif;
}

/*hotspot section*/
.hotspot {
    height: auto;
    /*width: 1170px;*/
    width: 1170px;
    margin: 0 auto;
}

.hotspot-big {
    /*height: 90%;*/
    display: flex;
}

.hotspot-big-left {
    width: 40%;
    background: url("../img/hotspot-left.png") no-repeat;
    background-size: contain;
    margin: 10px 20px 10px 0;
}

.hotspot-big-right {
    width: 60%;
}

.hotspot-big-right > div {
    display: flex;
}

.hotspot-big-right-top, .hotspot-big-right-bot {
    height: 40%;
}

.hotspot-product60:first-child {
    background: url("../img/hotspot-right1.png") no-repeat center;
    background-size: 100%;
}

.hotspot-product40:last-child {
    background: url("../img/hotspot-right2.png") no-repeat center;
    background-size: 100%;
}

.hotspot-product60:last-child {
    background: url("../img/hotspot-right4.png") no-repeat;
    background-size: contain;
}
.hotspot-product40:first-child {
    background: url("../img/hotspot-right3.png") no-repeat;
    background-size: contain;
}



.hotspot-product60 {
    width: 60%;
}

.hotspot-product40 {
    width: 40%;
}

.hotspot-small {
    /*height: 50px;*/
    display: flex;
    margin: 0 auto;
}

.hotspot-small > div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}

.hotspot-small-box {
    display: flex;
}
.hotspot-small-box > div {
    margin: 0 0 0 20px;
}

/*testing grid version*/
.hotspot {
    display: grid;

}

/*promo section */
/*.promo-container {*/
    /*margin: 20px 0;*/
/*}*/

#promo {
    width: 1200px;
    height: 320px;
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0 auto;
    /*padding: 30px 0 20px 30px;*/
    background: url("../img/strefa_promocyjna.png") no-repeat center;
    background-size: contain;
}

#promo h1 {
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 900;
    font-size: xx-large;
}

#promo > .promo-left {
    position: absolute;
    top:20%;
    width: 30%;
    margin: auto 16%;
}

h3 {
    text-transform: uppercase;
    margin: 10px 0;
}

.promo-left > span {
    font-size: x-small;
}

#promo-price {
    position: relative;
    margin: 2rem 0;
    width: fit-content;
}

#promo-price > span {
    padding: 15px 25px;
    font-weight: 600;
    font-size: 2rem;
    border: 1px solid lightgray;
    color: #F20E36;
}

#promo-price-label {
    position: absolute;
    bottom: 45px;
    left: 20px;
    font-weight: 300;
    color: #868788;
}

.promo-right {
    position: absolute;
    right: 7%;
    top: 45%;
}

#promo-cta > button {
    padding: 15px 40px;
    color: #000;
    background: #faf8fe;
    display: inline-block;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.80em;
    text-transform: uppercase;
    font-weight: 600;
}

.hide {
    display: none;
}

#first-slider-container {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

#first-slider-container .slick-dots {
    display: flex;
    list-style: none;
    position: absolute;
    bottom: 5%;
    left: 36.5%;
    justify-content: space-between;
}

#first-slider-container .slick-dots button {
    visibility: hidden;
}

#first-slider-container .slick-dots li {
    background-color: #C2D3DD;
    font-size: 16px;
    opacity: 0.7;
    width: 100px;
    height: .25rem;
    flex: 0 30%;
}

#first-slider-container li.slick-active {
    background-color: #FFFFFD;
}

#footer_section {
    font-size: 0.8em;
    background-color: #ffeab8;
    padding-top: 20px;
    color: #000;
}

#footer_section > #footer_links > div#order hr {
    width: 83%;
}

#footer_section > #footer_links > div#contact hr {
    width: 86%;
}

#footer_section > #footer_links > div > hr {
    border-color: #ecd6a5;
    width: 81%;
    margin-top: 0.7em;
    margin-bottom: 1.6em;
}

#footer_section .span-small {
    font-weight: bold;
}

#footer_section .span-small#tel {
    padding-top: 10px;
}

.span-small#footer_section + small {
    font-weight: bold;
    font-size: 1em;
}

#footer_section #infolinia {
    line-height: 2em;
}

#footer_section > footer {
    background: #333;
    overflow: hidden;
    padding: 25px 0;
    margin: 0 auto;
    width: 100%;
    display: block;
    justify-content: space-between;
}

#footer_section > footer a {
    color: #333;
    text-decoration: none;
    line-height: 2;
}

#footer_section > footer a img {
    vertical-align: top;
}

#footer_section > footer > div {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin-left: 60px;
    width: 90%;
}

#footer_section > a {
    display: inline-block;
    margin-right: 15px;
    padding: 0 15px 0 0;
    font-size: 0.93em;
    cursor: pointer;
}

#footer_links {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

#footer_links > div {
    width: 25%;
    /*padding-left: 40px;*/
    padding-bottom: 4rem;
}

#footer_links > div:first-child {
    padding: 0 0 0 2rem;
}

#footer_links > div:last-child {
    padding-right: 2rem;
    /*padding-left: 40px;*/
    /*padding-bottom: 58px;*/
}

#footer_links > div > ul > li {
    text-decoration: none;
    list-style: none;
    font-weight: 300;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 0.4em;
    line-height: 1.6em;
}

#footer_links > div > ul > li > a {
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #000;
}

#footer_links > div > ul > li > a:hover {
    color: #dc4138;
}

#footer_links > div > span:first-child {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 3;
}

#footer_links > div > small {
    display: block;
}

#przerwa {
    height: 11px;
}

.inline-mobile {
    display: grid;
}

#newsletter > form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

#newsletter > form > div {
    width: 100%;
    display: block;
}

#newsletter > form > div > input {
    width: 70%;
    height: 35px;
    font-size: 0.8em;
    margin: 4px 0;
    border: none;
    padding-left: 19px;
    background: #000;
    color: white;
}

#newsletter > form > div > button {
    display: block;
    background: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 0;
    width: 70%;
    height: 35px;
    font-size: 0.8em;
    margin: 4px 0;
    border: none;
}

#newsletter > form > div > b {
    font-weight: 400;
    margin: 0;
}

#newsletter > form > .newsletter_label > hr {
    margin-top: 0.6em;
    margin-bottom: 0.3em;
    width: 87%;
    border-color: #ecd6a5;
}

#newsletter .newsletter_label {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 3;
    text-align: left;
}

@media only screen and (max-width: 757px) {
    .mobile_hidden {
        display: none !important;
        visibility: hidden !important;
        opacity: 0 !important;
    }

    .mobile_visible {
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
    }

    #header > .logo_section > .col-3:last-child a {
        text-decoration: none;
        color: black;
    }

    /*#header > .logo_section > .col-3:last-child a:first-child:before {*/
    /*content: '\e902';*/
    /*font-family: icomoon;*/
    /*margin-right: 5px;*/
    /*font-size: 50px;*/
    /*}*/
    /*#header > .logo_section > .col-3:last-child a:last-child:before {*/
    /*content: '\e901';*/
    /*font-family: icomoon;*/
    /*margin-right: 5px;*/
    /*font-size: 50px;*/
    /*}*/
    #header > .logo_section .col-3 {
        width: 35%;
    }

    #header > nav {
        width: 100%;
    }

    #header > nav > .col-6 {
        width: 100%;
    }

    #header > nav > .col-6 > ul {
        display: flex;
        flex-direction: column;
    }

    #header nav > .col-6 > ul > li:after {
        display: none;
    }

    .fa-bars {
        font-size: 40px;
        color: black;
    }

    #first-slider-container {
        width: 100%;
    }
}

@media (max-width: 757px) {
    .container {
        width: 100%;
        display: block;
    }

    #promo {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: none;
        /*padding: 10% 5%;*/
    }

    #promo > .promo-left {
        width: 100%;
        margin: auto;
    }

    .promo-moblie-bg {
        width: 100%;
        height: 30vw;
        background: url("../img/strefa_promocyjna.png") no-repeat;
        background-size: contain;
    }

    #promo-price {
        margin: 2rem auto;
    }

    .promo-right {
        position: static;
    }

    #promo-cta button {
        width: 100%;
    }
}

@media (max-width: 757px) {
    #footer_section {
        font-size: 1.1em;
    }

    #footer_section > #footer_links {
        display: grid;
        width: 100%;
    }

    #footer_section > .container#footer_links > div {
        padding-bottom: 0;
        padding-left: 0;
        text-align: center;
    }

    #footer_section > .container#footer_links > div > hr {
        width: 100% !important;
    }

    #footer_section > .container#footer_links > #contact > hr {
        width: 50%;
        margin-top: 0.2em;
        margin-bottom: 0.1em;
    }

    #footer_section > footer > div {
        margin-left: 0;
        width: 90%;
        justify-content: center;
    }

    #footer_section > footer > div > a:first-child {
        display: none;
    }

    #footer_links {
        padding-top: 0;
        padding-left: 2em;
        padding-right: 1em;
    }

    #footer_links > div {
        width: 100%;
    }

    #footer_links > div > ul {
        display: none;
    }

    #footer_links > #footer_links > div > a:hover#footer_links > #footer_links > div > a + ul > li {
        display: grid;
    }

    #newsletter {
        width: 80%;
        padding-top: 20px;
    }

    #newsletter .newsletter_label {
        padding-bottom: 0;
        padding-left: 0;
        text-align: center;
    }

    #newsletter > form > .newsletter_label > hr {
        width: 100% !important;
    }

    .inline-mobile {
        display: inline;
    }
}
