@font-face{
  font-family:"Open Sans";
  font-style:italic;
  font-weight:300;
  src:local("Open Sans Light Italic"),local(OpenSans-LightItalic),url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWyV9hrIqc.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWyV9hrIqM.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWyV9hrIqU.woff) format("woff");
}
@font-face{
  font-family:"Open Sans";
  font-style:italic;
  font-weight:400;
  src:local("Open Sans Italic"),local(OpenSans-Italic),url(//fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Zdck.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Zdc0.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Zdcs.woff) format("woff");
}
@font-face{
  font-family:"Open Sans";
  font-style:italic;
  font-weight:600;
  src:local("Open Sans SemiBold Italic"),local(OpenSans-SemiBoldItalic),url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhrIqc.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhrIqM.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhrIqU.woff) format("woff");
}
@font-face{
  font-family:"Open Sans";
  font-style:italic;
  font-weight:700;
  src:local("Open Sans Bold Italic"),local(OpenSans-BoldItalic),url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhrIqc.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhrIqM.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhrIqU.woff) format("woff");
}
@font-face{
  font-family:"Open Sans";
  font-style:italic;
  font-weight:800;
  src:local("Open Sans ExtraBold Italic"),local(OpenSans-ExtraBoldItalic),url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKW-U9hrIqc.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKW-U9hrIqM.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKW-U9hrIqU.woff) format("woff");
}
@font-face{
  font-family:"Open Sans";
  font-style:normal;
  font-weight:300;
  src:local("Open Sans Light"),local(OpenSans-Light),url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuht.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhv.woff) format("woff");
}
@font-face{
  font-family:"Open Sans";
  font-style:normal;
  font-weight:400;
  src:local("Open Sans Regular"),local(OpenSans-Regular),url(//fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0f.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0d.woff) format("woff");
}
@font-face{
  font-family:"Open Sans";
  font-style:normal;
  font-weight:600;
  src:local("Open Sans SemiBold"),local(OpenSans-SemiBold),url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuht.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhv.woff) format("woff");
}
@font-face{
  font-family:"Open Sans";
  font-style:normal;
  font-weight:700;
  src:local("Open Sans Bold"),local(OpenSans-Bold),url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuht.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhv.woff) format("woff");
}
@font-face{
  font-family:"Open Sans";
  font-style:normal;
  font-weight:800;
  src:local("Open Sans ExtraBold"),local(OpenSans-ExtraBold),url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuht.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuhp.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuhv.woff) format("woff");
}
@font-face{
  font-family:Lato;
  font-style:italic;
  font-weight:100;
  src:local("Lato Hairline Italic"),local(Lato-HairlineItalic),url(//fonts.gstatic.com/s/lato/v14/S6u-w4BMUTPHjxsIPx-oPCY.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u-w4BMUTPHjxsIPx-oPCI.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u-w4BMUTPHjxsIPx-oPCQ.woff) format("woff");
}
@font-face{
  font-family:Lato;
  font-style:italic;
  font-weight:300;
  src:local("Lato Light Italic"),local(Lato-LightItalic),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI9w2_Gwfp.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI9w2_Gwft.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI9w2_Gwfr.woff) format("woff");
}
@font-face{
  font-family:Lato;
  font-style:italic;
  font-weight:400;
  src:local("Lato Italic"),local(Lato-Italic),url(//fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHjxsAXC-u.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHjxsAXC-q.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHjxsAXC-s.woff) format("woff");
}
@font-face{
  font-family:Lato;
  font-style:italic;
  font-weight:700;
  src:local("Lato Bold Italic"),local(Lato-BoldItalic),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI5wq_Gwfp.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI5wq_Gwft.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI5wq_Gwfr.woff) format("woff");
}
@font-face{
  font-family:Lato;
  font-style:italic;
  font-weight:900;
  src:local("Lato Black Italic"),local(Lato-BlackItalic),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI3wi_Gwfp.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI3wi_Gwft.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI3wi_Gwfr.woff) format("woff");
}
@font-face{
  font-family:Lato;
  font-style:normal;
  font-weight:100;
  src:local("Lato Hairline"),local(Lato-Hairline),url(//fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHh30AXC-u.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHh30AXC-q.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHh30AXC-s.woff) format("woff");
}
@font-face{
  font-family:Lato;
  font-style:normal;
  font-weight:300;
  src:local("Lato Light"),local(Lato-Light),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPHQ.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPGQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPHw.woff) format("woff");
}
@font-face{
  font-family:Lato;
  font-style:normal;
  font-weight:400;
  src:local("Lato Regular"),local(Lato-Regular),url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWg.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format("woff");
}
@font-face{
  font-family:Lato;
  font-style:normal;
  font-weight:700;
  src:local("Lato Bold"),local(Lato-Bold),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPHQ.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPHw.woff) format("woff");
}
@font-face{
  font-family:Lato;
  font-style:normal;
  font-weight:900;
  src:local("Lato Black"),local(Lato-Black),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPHQ.eot?#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPGQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPHw.woff) format("woff");
}
*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}
*,body{
  font-family:'Lato', serif;
}
body{
  background:#fff;
}
.hide {
  display: none;
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?az1skw');
  src:  url('fonts/icomoon.eot?az1skw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?az1skw') format('truetype'),
    url('fonts/icomoon.woff?az1skw') format('woff'),
    url('fonts/icomoon.svg?az1skw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 1170px;
}
.container-our-news {
    width: 1170px;
    margin: 0 auto;
    position: relative;
    clear: both;
}
#our-news h1, #best h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin: 65px 0 30px 0;
    font-size: 1.25em;
    letter-spacing: 4.5px
}
.recommend a, .bestseller a {
    text-decoration: none;
    margin: 20px;
    margin-bottom: 90px;
    font-weight: 600;
}
.recommend .product-name, .bestseller .product-name {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    font-size: 0.8em;
    margin-top: 10px;
}
.recommend .product-price, .bestseller .product-price {
    text-decoration: none;
    color: #2078c6;
    margin-right: 20px;
    font-size: 1em;
    margin-top: 10px;
}
.recommend .product-price del, .bestseller .product-price del {
    color: #333;
    font-size: 12px;
    font-weight: lighter;
}
#premium {
    background-image: url("img/strefa_premium.png");opacity: 0.95;
    min-height: 448px;
    width: 100%;
    text-align: center;
    position: relative;
}
#premium .container div {
    /* position: absolute;
    top: 100px;
    left: 310px; */
    padding-top: 120px;
}
#premium .container div h1 {
    text-transform: uppercase;
    color: #f8da94;
    font-weight: bolder;
    font-size: 3em;
    /* padding-top: 120px; */
}
#premium .container div p {
    color: #989898;
    margin: 10px;
}
#premium .container div button {
    color: black;
    font-weight: 900;
    background: #f8da94;
    padding: 20px;
    cursor: pointer;
    display: inline-block;
    border: none;
    width: 240px;
    margin: 30px;
    text-transform: uppercase;
}
#info .container>div {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: baseline;
    margin: 30px 0;
}
#first-slider-container .slick-dots button {
  visibility: hidden;
}
#first-slider-container .slick-dots li{
  background-color:#C2D3DD;
  font-size:16px;
  opacity:0.7;
  width:100px;
  height:4px;
  height:.25rem;
  -webkit-box-flex:0;
      -ms-flex:0 30%;
          flex:0 30%;
}
#first-slider-container li.slick-active{
  background-color:#FFFFFD;
}
#footer_section{
  font-size:0.8em;
  background-color:#ffeab8;
  padding-top:20px;
  color:#000;
}
#footer_section > #footer_links > div#order hr{
  width:83%;
}
#footer_section > #footer_links > div#contact hr{
  width:86%;
}
#footer_section > #footer_links > div > hr{
  border-color:#ecd6a5;
  width:81%;
  margin-top:0.7em;
  margin-bottom:1.6em;
}
#footer_section .span-small{
  font-weight:bold;
}
#footer_section .span-small#tel{
  padding-top:10px;
}
.span-small#footer_section + small{
  font-weight:bold;
  font-size:1em;
}
#footer_section #infolinia{
  line-height:2em;
}
#footer_section > footer{
  background:#333;
  overflow:hidden;
  padding:25px 0;
  margin:0 auto;
  width:100%;
  display:block;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
}
#footer_section > footer a{
  color:#333;
  text-decoration:none;
  line-height:2;
}
#footer_section > footer a img{
  vertical-align:top;
}
#footer_section > footer > div{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  vertical-align:middle;
  margin-left:60px;
  width:90%;
}
#footer_section > a{
  display:inline-block;
  margin-right:15px;
  padding:0px 15px 0px 0;
  font-size:0.93em;
  cursor:pointer;
}
#footer_links{
  width:100%;
  padding:2em;
}
#footer_links > div{
  width:25%;
  float:left;
  padding-left:40px;
  padding-bottom:58px;
}
#footer_links > div > ul > li{
  font-size:0.8em;
  margin-bottom:10px;
  margin-left:0.4em;
  line-height:1.6em;
}
#footer_links > div > ul > li,#footer_links > div > ul > li > a{
  text-decoration:none;
  list-style:none;
  font-weight:300;
  text-transform:uppercase;
}
#footer_links > div > ul > li > a{
  margin-bottom:5px;
  color:#000;
}
#footer_links > div > ul > li > a:hover{
  color:#dc4138;
}
#footer_links > div > span:first-child{
  font-weight:600;
  text-transform:uppercase;
  margin-bottom:20px;
  line-height:3;
}
#footer_links > div > small{
  display:block;
}
#footer_links > div#order{
  padding-left:50px;
}
#footer_links > div#contact{
  padding-left:59px;
}
#footer_links > div#newsletter{
  padding-left:66px;
}
#przerwa{
  height:11px;
}
.inline-mobile,#newsletter > form{
  display:grid;
}
#newsletter > form > div{
  width:100%;
  display:block;
  float:left;
  position:relative;
}
#newsletter > form > div > input{
  width:66%;
  height:35px;
  font-size:0.8em;
  margin:4px 0px;
  border:none;
  padding-left:19px;
  background:#000;
  color:white;
}
#newsletter > form > div > button{
  background:#fff;
  text-transform:uppercase;
  font-weight:bold;
  padding-left:0;
}
#newsletter > form > div > b{
  font-weight:400;
  margin:0;
}
#newsletter > form > .newsletter_label > hr{
  margin-top:0.6em;
  margin-bottom:0.3em;
  width:87%;
  border-color:#ecd6a5;
}
#newsletter form > div > button{
  width:66%;
  height:35px;
  font-size:0.8em;
  margin:4px 0px;
  border:none;
  padding-left:19px;
}
#newsletter .newsletter_label{
  font-weight:600;
  text-transform:uppercase;
  margin-bottom:20px;
  line-height:3;
  text-align:left;
}
@media only screen and (max-width: 757px){
  .mobile_hidden{
    display:none !important;
    visibility:hidden !important;
    opacity:0 !important;
  }
  .mobile_visible{
    display:block !important;
    visibility:visible !important;
    opacity:1 !important;
  }
  #header > .logo_section > .col-3:last-child a{
    text-decoration:none;
    color:black;
  }
  #header > .logo_section > .col-3:last-child a:first-child:before{
    content:'\e902';
    font-family:icomoon;
    margin-right:5px;
    font-size:50px;
  }
  #header > .logo_section > .col-3:last-child a:last-child:before{
    content:'\e901';
    font-family:icomoon;
    margin-right:5px;
    font-size:50px;
  }
  #header > .logo_section .col-3{
    width:35%;
  }
  #header > nav,#header > nav > .col-6{
    width:100%;
  }
  #header > nav > .col-6 > ul{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }
  #header nav > .col-6 > ul > li:after{
    display:none;
  }
  .fa-bars{
    font-size:40px;
    color:black;
  }
  #first-slider-container{
    width:100%;
  }
}
@media (max-width: 757px){
  .container{
    width:100%;
    display:block;
  }
  #promo{
    width:100%;
    height:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    background:none;
    padding:10% 5%;
  }
  #promo > .promo-left{
    width:100%;
    margin:auto;
  }
  .promo-moblie-bg{
    width:100%;
    height:30vw;
    background:url("materiały/strefa_promocyjna.png") no-repeat;
    background-size:contain;
  }
  #promo-price{
    margin:2rem auto;
  }
  .promo-right{
    position:static;
  }
  #promo-cta button{
    width:100%;
  }
  #footer_section{
    font-size:1.1em;
  }
  #footer_section > #footer_links{
    display:grid;
    width:100%;
  }
  #footer_section > .container#footer_links > div{
    padding-bottom:0;
    padding-left:0;
    text-align:center;
  }
  #footer_section > .container#footer_links > div > hr{
    width:100% !important;
  }
  #footer_section > .container#footer_links > #contact > hr{
    width:50%;
    margin-top:0.2em;
    margin-bottom:0.1em;
  }
  #footer_section > footer > div{
    margin-left:0;
    width:90%;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
  }
  #footer_section > footer > div > a:first-child{
    display:none;
  }
  #footer_links{
    padding-top:0;
    padding-left:2em;
    padding-right:1em;
  }
  #footer_links > div{
    width:100%;
  }
  #footer_links > div > ul{
    display:none;
  }
  #footer_links > #footer_links > div > a:hover#footer_links > #footer_links > div > a + ul > li{
    display:grid;
  }
  #newsletter{
    width:80%;
    padding-top:20px;
  }
  #newsletter .newsletter_label{
    padding-bottom:0;
    padding-left:0;
    text-align:center;
  }
  #newsletter > form > .newsletter_label > hr{
    width:100% !important;
  }
  .inline-mobile{
    display:inline;
  }
}
