.header
  &-top
    display: flex
    width: 100vw
    height: 30px
    justify-content: space-between
    align-items: center
    background: #f3f4f5
    &-text
      padding: 0 1rem
      text-align: center
      text-transform: uppercase
      &:nth-child(odd)
        border-right: 1px solid darkgrey
    &-link
      text-decoration: none
      color: #000
.logo
  display: flex
  justify-content: flex-end
  width: 100%
  padding: 1rem
  &-container
    display: flex
    //width 50% - 1/2 logo-img-width
    width: calc(50% + 194px/2)
    justify-content: space-between
    align-items: center
    &-img
      display: block
  &-button
    &-container
      display: flex
    &-item
      font-family: "Lato", sans-serif
      font-size: .8rem
      height: 40px
      width: 180px
      text-transform: uppercase
      & .fas, .far
        font-size: 1rem
        padding: .3em
      //styles for first icon
      &:first-child
        background: #fff
        border: none
      //styles for second icon
      &:last-child
        background: #fff
        border: 2px solid #d5d1ac
      &:focus
        outline: none

