* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background: #fff;
}

.header-top {
  display: flex;
  width: 100vw;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  background: #f3f4f5;
}
.header-top-text {
  padding: 0 1rem;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.6rem;
}
.header-top-text:nth-child(odd) {
  border-right: 1px solid darkgrey;
}
.header-top-link {
  text-decoration: none;
  color: #000;
}

.logo {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem;
}
.logo-container {
  display: flex;
  width: calc(50% + 194px/2);
  justify-content: space-between;
  align-items: center;
}
.logo-container-img {
  display: block;
}
.logo-button-container {
  display: flex;
}
.logo-button-item {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  height: 40px;
  width: 180px;
  text-transform: uppercase;
}
.logo-button-item-link {
  text-decoration: none;
  color: #000;
}
.logo-button-item .fas, .logo-button-item .far {
  font-size: 1rem;
  padding: 0.3em;
}
.logo-button-item:first-child {
  background: #fff;
  border: none;
}
.logo-button-item:last-child {
  background: #fff;
  border: 2px solid #d5d1ac;
}
.logo-button-item:focus {
  outline: none;
}

.nav {
  display: flex;
  margin: 0 1rem;
  background: #feebb8;
  justify-content: flex-end;
  align-items: center;
}
.nav-container {
  width: calc(100% - (2rem + 190px));
}
.nav-list-container {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0 1rem;
}
.nav-list-item {
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  position: relative;
  height: 70px;
  align-items: center;
  cursor: pointer;
}
.nav-list-item:hover .nav-list-inner-container {
  display: block !important;
}
.nav-list-item .fas {
  padding: 0 1rem;
}
.nav-list-inner-container {
  display: none;
  position: absolute;
  top: 70px;
  left: -1rem;
  width: calc(100% + 1rem - 9px);
  list-style: none;
  z-index: 2;
}
.nav-list-inner-container > li {
  border-bottom: 1px solid #feebb8;
}
.nav-list-inner-container > li:hover {
  border-bottom: 1px solid black;
}
.nav-list-inner-link {
  display: block;
  padding: 0.5rem;
  color: #000;
  background: #feebb5;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
}
.nav-searchbar {
  display: flex;
  height: 40px;
  width: 190px;
  border: none;
  align-items: center;
}
.nav-searchbar-input {
  background: none;
  border: none;
  width: 150px;
  border-bottom: 1px solid #000;
  height: 30px;
}
.nav-searchbar-input:focus {
  outline: none;
  font-size: 1rem;
}
.nav-searchbar-button {
  border: none;
  height: 40px;
  width: 40px;
  padding: 0.2em;
  background: none;
}
.nav-searchbar-button .fa {
  font-size: 1rem;
}
.nav-searchbar-button:hover {
  cursor: pointer;
}

.slider {
  position: relative;
  padding: 1rem;
}

.slide {
  background-size: cover;
  background: no-repeat center;
}
.slide1 {
  background-image: url("../img/banner1.png");
}
.slide2 {
  background-image: url("../img/banner2.png");
}
.slide3 {
  background-image: url("../img/banner3.png");
}
.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 600px;
}
.slide-content span {
  font-size: 5rem;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin: -30px 0 0 0;
  width: 0;
  height: 0;
  border-style: solid;
  opacity: 0.7;
}
.arrow:hover {
  opacity: 0.9;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  left: 0;
  border-color: transparent #000 transparent transparent;
  margin: 0 0 0 30px;
}
#arrow-right {
  border-width: 30px 0 30px 40px;
  right: 0;
  border-color: transparent transparent transparent #000;
  margin: 0 30px 0 0;
}

.hotspot {
  padding: 1rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 40% 25% 10% auto;
  grid-template-rows: auto;
  grid-template-areas: "main top-lg top-lg top-sm" "main bot-sm bot-lg bot-lg";
}
.hotspot-main {
  grid-area: main;
  background: url("../img/hotspot-left.png") no-repeat center;
  height: 610px;
}
.hotspot-top-lg, .hotspot-top-sm {
  background-size: cover;
}
.hotspot-top-lg {
  grid-area: top-lg;
  background: url("../img/hotspot-right1.png") no-repeat #ffb8b8;
}
.hotspot-top-sm {
  grid-area: top-sm;
  background: url("../img/hotspot-right2.png") no-repeat;
}
.hotspot-bot-lg, .hotspot-bot-sm {
  background-size: contain;
}
.hotspot-bot-lg {
  justify-self: right;
  grid-area: bot-lg;
  background: url("../img/hotspot-right4.png") no-repeat #ffe4a4 left;
  width: 100%;
}
.hotspot-bot-sm {
  grid-area: bot-sm;
  background: url("../img/hotspot-right3.png") no-repeat;
}
.hotspot-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.hotspot-main-container > span {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.hotspot-main-header {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #fff;
}
.hotspot-main-button {
  height: 60px;
  width: 230px;
  text-transform: uppercase;
}
.hotspot-mid-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.hotspot-mid-container > span {
  text-transform: uppercase;
}
.hotspot-mid-header {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #ffffff;
}
.hotspot-right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2rem;
}
.hotspot-right-container > span {
  text-transform: uppercase;
}
.hotspot-right-header {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
